* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#31637e, white);
}

#canvas {
  /* width: 500px;
    height: 500px; */
  border: 5px solid #ac1400;
  border-radius: 10px;
  background: linear-gradient(#f7be04, #c14a00);
  width: 100%;
  max-height: 80%;
}

@media screen and (min-width: 1200px) {
  #canvas {
    width: 1300px;
  }
}
